

<div>
  <div>
    <h2>Forms common Examples - it includes both reactive and template together or misc form concept </h2>
    <ul>
      <li>
        <a routerLink="/nestableFormDirectiveExample">Nested Form using NestableFormDirective</a></li>
    </ul>

  </div>
  <div>
    <h2>Template Form Examples</h2>
    <ul>
      <li>
        <a routerLink="/simpleForm1">Simple Form Example1</a></li>
      <li><a routerLink="/templateExample1">Nested form approach 1</a> </li>
      <li>Nested form approach 2</li>
      <li> <a routerLink="/templateCustomVal">Custom Validation</a> </li>
    </ul>
  </div>

  <div>
    <h2>Reactive Form Examples</h2>
    <ul>
      <li>
        <a routerLink="/rxSimpleForm1">Simple Form Example1</a></li>
      <li>Nested form approach 1</li>
      <li>Nested form approach 2</li>
      <li> <a routerLink="/reactiveCustomVal">Custom Validation</a> </li>
    </ul>
  </div>
  <div>
    <h2>HTTP samples</h2>
    <ul>
      <li>
        <a routerLink="/httpFirebaseSample">Http Firebase Sample</a></li>
    </ul>
  </div>

</div>

