

<div>
  <div>
    <h2>Forms common Examples - it includes both reactive and template together or misc form concept </h2>
    <ul>
      <li>
        <a routerLink="/nestableFormDirectiveExample">Nested Form using NestableFormDirective</a></li>
    </ul>

  </div>
  <div>
    <h2>Template Form Examples</h2>
    <ul>
      <li>
        <a routerLink="/simpleForm1">Simple Form Example1</a></li>
      <li><a routerLink="/templateExample1">Nested form approach 1</a> </li>
      <li>Nested form approach 2</li>
      <li> <a routerLink="/templateCustomVal">Custom Validation</a> </li>
    </ul>
  </div>

  <div>
    <h2>Reactive Form Examples</h2>
    <ul>
      <li> <a routerLink="/rxSimpleForm1">Simple Form Example1</a></li>
      <li> <a routerLink="/rxSimpleForm2">Simple Form Example2</a></li>
      <li>Nested form approach 1</li>
      <li>Nested form approach 2</li>
      <li> <a routerLink="/reactiveCustomVal">Custom Validation</a> </li>
    </ul>
  </div>
  <div>
    <h2>HTTP samples</h2>
    <ul>
      <li>
        <a routerLink="/httpFirebaseSample">Http Firebase Sample</a></li>
    </ul>
  </div>
  <div>
    <h2>Understand Change Detection in Angular</h2>
    <ul>
      <li><a routerLink="/changeDetectionHierarchy">Understand Change detection using component hierarchy</a></li>
      <li><a routerLink="/changeDetectionTime">Understand Change detection using time</a></li>
      <li><a routerLink="/changeDetectionTodo">Understand Change detection using TODO</a></li>
      <li> <a routerLink="/changeDetectionNewsLetter1">Understand Default Change detection using NewsLetter </a></li>
      <li> <a routerLink="/changeDetectionNewsLetter2">Understand On Push Change detection using NewsLetter 2 </a></li>
      <li> <a routerLink="/changeDetectionNewsLetter3">Understand On Push Change detection using NewsLetter 3</a></li>
      <li> <a routerLink="/changeDetectionNewsLetter4">Understand On Push Change detection using NewsLetter 4</a></li>
      <li> <a routerLink="/changeDetectionNewsLetter5">Understand On Push Change detection using NewsLetter 5</a></li>
      <li> <a routerLink="/changeDetectionNewsLetter6">Understand On Push Change detection using NewsLetter 6</a></li>
    </ul>
  </div>
  <div>
    <h2>Miscellaneous Samples</h2>
    <ul>
      <li><a routerLink="/jquerySliderUsage">CVA example by integrating with Jquery UI Slider component</a></li>
      <li><a routerLink="/personCVA">Custom CVA - Person component</a></li>
      <li><a routerLink="/textAreaCVA">Text Area created from Div CVA and non CVA</a></li>
      <li><a routerLink="/ngTemplateSample1">Example usage of ng-template</a></li>
      <li><a routerLink="/ngContentSample1">Example usage of ng-content projecting multiple items</a></li>
    </ul>
  </div>

</div>

