<form #myForm='ngForm' (ngSubmit)="register(myForm)" novalidate appTelephoneNumbersValidator >
  <rj-show-errors [control]="myForm"></rj-show-errors>
  <div>
    <label>Name</label>
    <input type="text" name="name" ngModel required #name='ngModel'/>
    <rj-show-errors [control]="name"></rj-show-errors>
  </div>
  <div>
    <label>Birth Year</label>
    <input type="number" name="birthYear" #birthYr='ngModel' ngModel required pattern="\d{4,4}" rjBirthYear/>
    <rj-show-errors [control]="birthYr"></rj-show-errors>
  </div>
  <div ngModelGroup="location" #location='ngModelGroup' appCountryCityValidator>
    <h3>Location</h3>
    <div>
      <label>Country</label>
      <input type="text" name="country" ngModel required #country='ngModel'/>
      <rj-show-errors [control]="country"></rj-show-errors>
    </div>
    <div>
      <label>City</label>
      <input type="text" name="city" ngModel/>
    </div>
    <rj-show-errors [control]="location"></rj-show-errors>
  </div>
  <div ngModelGroup="phoneNumbers"  >
    <h3>Phone Numbers</h3>
    <div *ngFor="let phoneId of phoneNumberIds; let i=index;">
      <label>Phone number {{i+1}}</label>
      <input type="text" name="phoneNumber[{{phoneId}}]" ngModel #phoneNumber='ngModel' appTelephoneFormatValidator/>
      <rj-show-errors [control]="phoneNumber"></rj-show-errors>
      <button type="button" (click)="removePhone(i); myForm.control.markAsTouched()">remove</button>
    </div>

    <button type="button" (click)="addPhone(); myForm.control.markAsTouched()">Add phone number</button>

  </div>
  <div>
    <h3>Current and Past Address</h3>
    <div *ngFor="let addr of addresses; let i=index"  [ngModelGroup]="addr.id">
      <label *ngIf="addr.id===1"> Current Address </label><br>
      <label *ngIf="addr.id!==1"> Past Address {{addr.id}}</label><br>
      <input type="text" name="addressLine1" [ngModel]="addr.address.addressLine1"><br>
      <input type="text" name="addressLine2" [ngModel]="addr.address.addressLine2"><br>
      <input type="text" name="city" [ngModel]="addr.address.city"><br>
      <input type="number" name="zipcode" [ngModel]="addr.address.zipcode"><br>
      <input type="text" name="state" [ngModel]="addr.address.state"><br>
      <input type="text" name="country" [ngModel]="addr.address.country"><br>
      <button type="button" (click)="removeAddress(addr.id); myForm.control.markAsTouched()">Remove Address</button>
      <br>
      <br>
    </div>
    <button type="button" (click)="addAddress(); myForm.control.markAsTouched()" > Add past address</button>
  </div>
  <button type="submit">Register</button>
  <button type="button">Print to console</button>

  <pre>{{myForm.value | json}}</pre>
  <pre>Form Valid : {{myForm.valid}}</pre>
  <pre>Form state : {{myForm.status}}</pre>

</form>
